
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss"; 
 
*{
  font-family: "Outfit", sans-serif;
}


@theme {
--color-primary: #1E3A8A;
--color-primary-dull: #2563EB;
}

.n0-scrollbar ::-webkit-scrollbar{
  display: none;
}